<%- include("./partials/header.ejs") -%>

<!-- <button><a href="/home/nso">Register</a></button>
<button><a href="/home/ncc">Register</a></button>
<button><a href="/home/ssg">Register</a></button> -->

<div class="scroll-up-btn">
    <i class="fas fa angle-up"></i>
</div>
<div class="title"><p>EXTRA CIRCCULAR ACTIVITIES REGISTRATION</p></div>
    <section class="home">
        <div class="card">
            <img src="../../public/images/nso.png" class="card-img" alt="">
            <div class="card-body">
                <h1 class="card-title">NSO</h1>
                <p class="card-sub-title">National Sports Organisation</p>
                <p class="card-info">We have several types of sports to register and play if you want to know more click read more or just register here</p>
    
                <button class="card-btn"><a href="#nso">Read more</a></button>
                <button class="card-btn"><a href="/home/nso">Register</a></button>
            </div>
        </div>
        <div class="card">
            <img src="../../public/images/ncc.png"  class="card-img" alt="">
            <div class="card-body">
                <h1 class="card-title">NCC</h1>
                <p class="card-sub-title">National Cadet Corps</p>
                <p class="card-info">We have several types of events to participate and parade and we need energetic members to come and join us.</p>
    
                <button class="card-btn"><a href="#ncc">Read more</a></button>
                <button class="card-btn"><a href="/home/ncc">Register</a></button>
            </div>
        </div>
        <div class="card">
            <img src="../../public/images/social.jpg"  class="card-img" alt="">
            <div class="card-body">
                <h1 class="card-title">SSG</h1>
                <p class="card-sub-title">Social Service Group</p>
                <p class="card-info">Our earth is getting polluted day by day and aquatic life,biolife is getting affected by this pollution so join us to make earth clean.</p>
    
                <button class="card-btn"><a href="#ssg">Read more</a></button>
                <button class="card-btn"><a href="/home/ssg">Register</a></button>
            </div>
        </div>
    </section>
    <div class="idiot" >
        <div>
            <section class="nso" id="nso">
                <div class="title"><span>N</span>ational <span>S</span>ports <span>O</span>rganisation</div>
                <div class="desc">
                    <p>Sport is a human activity involving physical exertion and skill as the primary focus of the activity, with elements of competition or social participation where rules and patterns of behaviour governing the activity exist formally through organisations and is generally recognised as a sport.Any sports makes bodily movement produced by skeletal muscles that results in energy expenditure. It can be undertaken in many different ways.Sports can reduce stress,depression and make you feel energetic and improves your blood circulation.</p>
                   <div class="pics">
                    <div class="badminton">
                        <img src="../../public/images/bad.jpg" alt="">
                        <h1>Badminton</h1>
                    </div>
                    <div class="tennis">
                        <img src="../../public/images/tennis.jpg" alt="">
                        <h1>Tennis</h1>
                    </div>
                    <div class="football">
                        <img src="../../public/images/soccer.jpg" alt="">
                        <h1>Foot ball</h1>
                    </div>
                    <div class="tt">
                        <img src="../../public/images/tt.jpg" alt="">
                        <h1>Table tennis</h1>
                    </div>
                    <div class="volleyball">
                        <img src="../../public/images/volley1.jpg" alt="">
                        <h1>Volley ball</h1>
                    </div>
                    <div class="basketball">
                        <img src="../../public/images/bb1.jpg" alt="">
                        <h1>Basket ball</h1>
                    </div>
                   </div>
                </div>
                   <button class="nsobtn"><a href="/home/nso">Register</a></button>
            </section>
        </div>
        <div>
            <section class="ncc" id="ncc">
                <!-- <div class="ncc"> -->
                    <div class="header-main">
                        <div class="ncc-logo-title">
                            <img src="../../public/images/ncc-logo.png" alt="Error loading image!">
                            <h2>National Cadet Corps</h2>
                        </div>
                        <div class="iiitdm-logo-title">
                            <img src="../../public/images/iiitdm-logo.png" alt="Error loading image!">
                            <div class="iiitdm-title">
                                <h2>Indian Institute of Information Technology,</h2>
                                <h2> Design and Manufacturing</h2>
                                <h2>Kancheepuram</h2>
                            </div>
                        </div>
                    </div>
                    <div class="gallery">
                        <img src="../../public/images/ncc-parade.jpg" alt="Error loading image!">
                    </div>
                    <div class="ncc-footer-main">
                        <h2><span>N</span>ational <span>C</span>adet <span>C</span>orps</h2>
                    </div>
                    <div class="ncc-about">
                        <div class="ncc-info">
                            <p>The National Cadet Corps (NCC) is the youth wing of the Indian Armed Forces with its headquarters in New Delhi, India. It is open to school and college students on voluntary basis as a Tri-Services Organisation, comprising the Army, the Navy and the Air Force, engaged in developing the youth of the country into disciplined and patriotic citizens. The soldier youth foundation in India is a voluntary organization which recruits cadets from high schools, higher secondary, colleges and universities all over India. The cadets are given basic military training in small arms and drill. The officers and cadets have no liability for active military service once they complete their course.</p>
                        </div>
                        <div class="ncc-pledge">
                            <h2>Pledge</h2>
                            <p>We the cadets of the National Cadet Corps,</p>
                            <p>do solemnly pledge that we shall always uphold the unity of India.</p>
                            <p>We resolve to be disciplined and responsible citizens of our nation.</p>
                            <p>We shall undertake positive community service in the spirit of selflessness</p>
                            <p>and concern for our fellow beings.</p>
                        </div>
                    </div>
                    <div class="ncc-register">
                        <button><a href="/home/ncc">Register</a></button>
                    </div>
                <!-- </div> -->
            </section>
        </div>
        <div>
            <section class="ssg" id="ssg">
                <!-- <div class="ssg"> -->
                    <h2 class="ssg-title"><span>S</span>ocial <span>S</span>ervice <span>G</span>roup</h2>
                    <form action="ssg.php">
                        <div class="service-options">
                            <div class="service-item">
                                <img src="../../public/images/polio.png" alt="Error loading image!" class="service-img">
                                <div class="service-info rhs" id="polio">
                                    <h2>Polio Drops Drive</h2>
                                    <p>Many babies and childrens are getting afftected due to polio virus so save your children by getting vaccined,get registered to get vaccinated.</p>
                                    <button class="btn1"><a href="/home/ssg">Register</a></button>
                                </div>
                            </div>
                            <div class="service-item">
                                <div class="service-info lhs" id="blood">
                                    <h2>Blood Donation</h2>
                                    <p>Blood Donation costs you nothing but it can mean to someone in need.donate blood today so that no one ever has to suffer from a lack of blood register to donate blood.</p>
                                    <button class="btn2"><a href="/home/ssg">Register</a></button>
                                </div>
                                <img src="../../public/images/blood.jpg" alt="Error loading image!" class="service-img">
                            </div>
                            <div class="service-item">
                                <img src="../../public/images/tree.jpg" alt="Error loading image!" class="service-img">
                                <div class="service-info rhs" id="tree">
                                    <h2>Tree Plantation</h2>
                                    <p>Our ozone layer is depleting and our earth is getting polluted join with us to save earth and plants, plant a tree save earth ,register today.</p>
                                    <button class="btn3"><a href="/home/ssg">Register</a></button>
                                </div>
                            </div>
                            <div class="service-item">
                                <div class="service-info lhs" id="beach">
                                    <h2>Beach Clean-up</h2>
                                    <p> water is essential to our ecosystem and it is getting polluted day by day, join us to clean and save the aquatic life, register today.</p>
                                    <button class="btn4"><a href="/home/ssg">Register</a></button>
                                </div>
                                <img src="../../public/images/beach.jpg" alt="Error loading image!" class="service-img">
                            </div>
                            <div class="service-item">
                                <img src="../../public/images/aware.jpg" alt="Error loading image!" class="service-img">
                                <div class="service-info rhs" id="rally">
                                    <h2>Awareness Rally</h2>
                                    <p>Many people in villages, and ouskirts of cities and towns don't know about many things , so join us to make aware of each and every important thing to people, register today.</p>
                                    <button class="btn5"><a href="/home/ssg">Register</a></button>
                                </div>
                            </div>
                        </div>
                    </form>        
                <!-- </div> -->
            </section>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $(window).scroll(function(){
                if(this.scroll>500){
                    $('.scroll-up-btn').addClass("show");
                }
                else
                $('scroll-up-btn').removeClass("show");
            })
        });
        $('.scroll-up-btn').click(function(){
            $('html').animate({scrollTop: 0})
        });
    </script>

<%- include("./partials/footer.ejs") -%>